<!--
  ~ Copyright (c) 2016 MRV Communications, Inc. All rights reserved.
  ~  This program and the accompanying materials are made available under the
  ~  terms of the Eclipse Public License v1.0 which accompanies this distribution,
  ~  and is available at http://www.eclipse.org/legal/epl-v10.html
  ~
  ~  Contributors:
  ~      Christopher Murch <cmurch@mrv.com>
  ~      Bartosz Michalik <bartosz.michalik@amartus.com>
  -->

<configuration>
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="root" level="INFO">
        <appender-ref ref="STDERR" />
    </logger>
</configuration>
